<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Data</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    {% if messages %}
    {% for message in messages %}

    <div class="bg-indigo-900 text-center py-4 lg:px-4">
        <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex"
            role="alert">
            <span class="font-semibold mr-2 text-left flex-auto">{{message}}</span>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}
    {% endif %}
    <br><br>
    <form style="padding-left: 700px;padding-right:700px" class="flex items-center" action="{% url 'search' %}">
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
            <input type="text" id="query"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search" name="query">
        </div>
        <button type="submit"
            class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><svg
                class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg></button>
    </form>

    <div class="max-w-2xl mx-auto">

        <p class="font-bold text-3xl m-16 relative w-max one">
            <span>Students Data!</span>
            <span class="absolute -bottom-1 right-0 w-0 transition-all h-1 bg-yellow-400"></span>
        </p>
       

        <div class="w-full relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="p-4">
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Student Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Class
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Section
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Age
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Sex
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                {% for std in page_obj %}
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 ">
                        <td class="w-4 p-4">

                        </td>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                            {{std.Student_Name}}
                        </th>

                        <td class="px-6 py-4">
                            {{std.Student_Class}}
                        </td>

                        <td class="px-6 py-4">
                            {{std.Student_Section}}
                        </td>

                        <td class="px-6 py-4">
                            {{std.Student_Age}}
                        </td>

                        <td class="px-6 py-4">
                            {{std.Student_Sex}}
                        </td>

                        <td class="px-6 py-4">
                            <a class="text-white" href="edit/{{ std.Student_ID }}">Edit &nbsp</a>
                            <a class="text-red-600/100" href="deletestudent/{{ std.Student_ID }}">Delete</a>
                        </td>



                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
        <br>
        <button
            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
            <a href="{% url 'adddata' %}">
                Add Data
            </a>
        </button>
    </div>
    <br><br>


    <div style="margin-left: 625px; margin-right: 625px;" class="pagination">
        <span class="step-links">
            <span class="bg-white text-gray-800 font-semibold py-2 px-4">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span><br><br><br>
            {% if page_obj.has_previous %}
            <a class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                href="?page=1">&laquo; first</a>

            <a class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}


            {% if page_obj.has_next %}
            <a class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>



</body>

</html>